html {
    background-color:#dfe6e2;
}

body{
    background-color: #dfe6e2;
}

.pageBackground{
    background-color: #dfe6e2;
}

/* 
    used for project buttons on code garage and board games page
*/
.codePanel{
    /*background-color: #b35900;*/
    /*border-color: #804000;*/
    background-color: #857362;
    border-color: #453b32;
}
.codePanel:hover{
    background-color: #9e7d5d;
    border-color: #804000;
}

/* 
    Completed Project Panel 
*/
.commonProjectPanelSucces{
    background-color: #8FBC8F;
    border-color: #5f7d5f;
}
.commonProjectPanelSucces:hover{
    background-color: #5f945f;
    border-color: #5f7d5f;
}

/*
    Used for Artwork Section Panels
*/
.artworkTitlePanel{
    background-color: #6eaeb8;
    border-color: #6eaeb8;
}

.artworkTitlePanel:hover{
    background-color: #40acbd;
    border-color: #40acbd;
}
