html {
    background-color:#e1eaea;
}

body{
    background-color: #e1eaea;
}

/* used for project buttons on code garage and board games page*/
.codePanel{
    background-color: #b35900;
    border-color: #804000;
}
.codePanel:hover{
    background-color: #804000;
    border-color: #804000;
}

.pageBackground{
    background-color: #e1eaea;
}